lab3/tidigits
lab3/tidigits_1
lab3/testndata.npz
lab3/traindata.npz
lab3/testdata.npz
lab4/LibriSpeech/*
lab4/test-clean.tar.gz
lab4/train-clean.tar.gz
lab4/train-clean-100.tar.gz
lab4/dev-clean.tar.gz
lab4/checkpoints/*
lab4/NVIDIA-Linux-x86_64-525.125.06.run

