lab3/tidigits
lab3/tidigits_1
lab3/testndata.npz
lab3/traindata.npz
lab3/testdata.npz
lab4/LibriSpeech/*
lab4/test-clean.tar.gz
lab4/train-clean.tar.gz
lab4/train-clean-100.tar.gz
lab4/dev-clean.tar.gz
lab4/checkpoints/epoch-0.pt
lab4/checkpoints/epoch-1.pt
lab4/checkpoints/epoch-2.pt
lab4/checkpoints/epoch-3.pt
lab4/checkpoints/epoch-4.pt
lab4/checkpoints/epoch-5.pt
lab4/checkpoints/epoch-6.pt
lab4/checkpoints/epoch-7.pt
lab4/checkpoints/epoch-8.pt
lab4/checkpoints/epoch-9.pt

